.config/fish/functions/
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fish_plugins
.config/fish/fish_variables
.config/fish/fish_varia*
.config/zen
setup.log
.config/chromium/
.config/glib-2.0/
.config/htop/htoprc.tmp.rurBXO
.config/pulse/
.config/rsyslog/
.config/tmux/
.config/xfce4/
.config/mpv/scripts/
mpv/
Pictures/backgrounds
scripts/services/work
scripts/services/.git 
scripts/services/.gitignore
scripts/services/LICENSE
scripts/services/README.md 
scripts/services/images

fcronscripts/backup_lvm/logs/

dev/mypkg/src/cache/




