* {
    /* `otf-font-awesome` is required to be installed for icons */
/*    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

#waybar * {
    padding: 0 4px;
}

/*---------------------workspaces------------------------------------*/
window#waybar {
    background-color: rgba(30, 30, 46, 0.85);
    border-bottom: 2px solid rgba(137, 180, 250, 0.4);
    color: #cdd6f4;

    transition: background-color 0.3s ease;
    font-size: 12px;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.empty {
    background-color: transparent;
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */

/*---------------------workspaces------------------------------------*/

#workspaces {
    margin: 0 ;
    padding: 0;
}

#workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 10px;
    margin: 4px 3px;
    border-radius: 10px;
    background: #1e1e2e;
    color: #6c7086;
}

#workspaces button.focused {
    background: #89b4fa;
    color: #1e1e2e;
}

#workspaces button.urgent {
    background: #f38ba8;
    color: #1e1e2e;
}

#workspaces button:hover {
    background: #444444;
    color: #ffffff;
}

/*-----------------------------------------------------------*/

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#window,

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #64727D;
    border-radius: 6px;
}

#battery {
    background-color: #ffffff;
    border-radius: 6px;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

/*---------------cpu-------------------------------------------------------------------------------*/
#cpu {
    background-color: #22c55e;
    color: #0f172a;
    padding: 0 10px;
    margin: 0 1px;
    border-radius: 6px;
}

#cpu:hover {
    background-color: #16a34a;
}

/*---------------memory---------------------------------------------------------------------------*/
#memory {
    background-color: #7c3aed;
    color: #ffffff;
    padding: 0 10px;
    margin: 0 1px;
    border-radius: 6px;
}

#memory:hover {
    background-color: #6d28d9;
}

/*---------------disk--------------------------------------------------------------------------*/
#disk {
    background-color: #964B00;
}

/*---------------backlight---------------------------------------------------------------------------*/
#backlight {
    background-color: #90b1b1;
    border-radius: 6px;
}

/*---------------network-----------------------------------------------------------------------*/
#network {
    background-color: #2980b9;
    color: #ffffff;
    border-radius: 7px;
}

#network.disconnected {
    background-color: #e74c3c;
    color: #ffffff;
}

#network:hover {
    background-color: #3498db;
}

/*---------------pulseaudio----------------------------------------------------------------*/
#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
    padding: 0 6px;
    border-radius: 6px;
}

#pulseaudio.muted {
    background-color: #1e1e2e;
    color: #ffffff;
}

#pulseaudio:hover {
    background-color: #e1b12c;
}

/*-----------------------------------------------------------------------------------------*/
#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/*---------------idle_inhibitor------------------------------------------------------------*/
#idle_inhibitor {
    padding: 0 4px;
    margin: 0 1px;
    background: #1e1e2e;
    border-radius: 6px;
    color: #c0caf5;
}

#idle_inhibitor label.activated {
    color: #f38ba8;
}

#idle_inhibitor label.deactivated {
    color: #89b4fa;
}
/*---------------mpd-------------------------------------------------------------*/
#mpd.disconnected {
    background-color: #2e0913
}

#mpd.stopped {
    background-color: #1d0221;
}

#mpd.paused {
    background: #1e1e2e;
}

#mpd {
    padding: 0 8px;
    background-color: #1c4280;
    color: #c0caf5;
    border-radius: 8px;
}

#mpd label.stateIcon.playing {
    color: #a6e3a1;
}

#mpd label.stateIcon.paused {
    color: #f38ba8;
}

#mpd label.title {
    color: #c0caf5;
    font-weight: bold;
}

#mpd label.consumeIcon,
#mpd label.randomIcon,
#mpd label.repeatIcon,
#mpd label.singleIcon {
    color: #89b4fa;
    margin: 0 2px;
}
/*---------------language-------------------------------------------------------------*/
#custom-language {
    background: #3b4252;
    color: #88c0d0;
    padding: 0 8px;
    border-radius: 6px;
}

/*---------------------custom-power-------------------------------------------------------*/
#custom-power {
    border-radius: 6px;
    margin: 0 1px;
}


/*---------------------keyboard-state--------------------------------------------*/
#keyboard-state {
    background: #1e1e2e;
    padding: 0 8px;
    color: #c0caf5;
    margin: 0 1px;
    min-width: 16px;
    border-radius: 8px;
}

#keyboard-state label.locked {
    color: #f38ba8;
    font-weight: bold;
}

#keyboard-state label.numlock {
    font-weight: bold;
    color: #4fc1ff; 
    font-weight: bold;
  }

#keyboard-state label {
    margin: 0 1px;
    font-family: "JetBrainsMono Nerd Font";
}

/*-------------------------------------------------------------------------------*/

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
