polkit.addRule(function(action, subject) {

    const isPowerUser = subject.isInGroup("poweruser");
    const isTargetUser = subject.user == "mz";

    if (!(isPowerUser && isTargetUser)) {
        return;
    }

    const allowed = [
        "org.freedesktop.login1.reboot",
        "org.freedesktop.login1.power-off",
        "org.freedesktop.login1.suspend",
        "org.freedesktop.login1.hibernate",
        "org.freedesktop.login1.suspend-multiple-sessions",
        "org.freedesktop.login1.hibernate-multiple-sessions"
    ];

    if (allowed.includes(action.id)) {
        return polkit.Result.YES;
    }
});
